/* Header container styling */
.header {
  background-color: #0162e1d8;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

/* Header container and logo styling */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.header-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

/* Menu button styling */
.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Logout button styling */
.logout-button {
  background: none; /* No background color initially */
  border: 2px solid white; /* White border */
  color: white; /* Text color */
  font-size: 18px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: auto; /* Aligns the button to the right */
  margin-right: 20px; /* Right margin */
  padding: 10px 20px; /* Padding for the button */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Logout button hover effect */
.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.774); /* Light background on hover */
  color: black; /* Change text color on hover for contrast */
}


/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color: #0162e1;
  padding: 60px 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1100;
  overflow: hidden;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Backdrop styling */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
