body {
  background: url('./../public/digital-technology-concept-abstract-background-vector.jpg') no-repeat center center fixed; /* Ensure the image covers the viewport */
  background-size: cover; /* Cover the entire viewport */
  background-attachment: fixed; /* Ensure the background image doesn't scroll */
  margin: 0;
  font-family: Arial, sans-serif;
}
