
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  font-family: Arial, sans-serif;
  
}

.auth-toggle {
  margin-bottom: 20px;
}

.auth-toggle button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #013759;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.auth-toggle button.active {
  background-color: #278dfa;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.auth-form label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.auth-form input,
.auth-form select {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}


h1.styled-heading {
  color: #f9f9f9; /* Text color */
  font-family: 'Times New Roman', serif; /* Font family */
  font-size: 2.5em; /* Font size */
  font-weight: bold; /* Font weight */
  text-align: center; /* Text alignment */
  text-shadow: 
    1px 1px 0 rgba(255, 255, 255, 0.147), 
    2px 2px 0 rgba(255, 255, 255, 0.147), 
    3px 3px 0 rgba(255, 254, 254, 0.147), 
    4px 4px 0 rgba(255, 255, 255, 0.147), 
    5px 5px 0 rgba(255, 255, 255, 0.147); /* 3D effect with shadow layers */
  margin: 20px; /* Margin around the heading */
  position: relative;
  transform: perspective(500px) rotateX(10deg); /* Perspective and rotation for 3D effect */
}

