.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.dashboard-content {
  flex-grow: 1;
  padding-top: 60px; /* Adjust this value based on the height of your header */
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  width: auto;
}

.dashboard-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard-message {
  background-color: #ffffff; /* White background for the card */
  border-radius: 8px; /* Rounded corners for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  max-width: 600px; /* Max width to keep the card from being too wide */
  margin: auto;
  text-align: center;
  color: #333;
}

.dashboard-message h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.dashboard-message p {
  font-size: 16px;
  color: #666;
}


/* Footer */
.footer {
  background-color: #0162e1d8;
  color: white;
  padding: 18px;
  text-align: center;
}

.footer p {
  margin: 0;
}


